<!doctype html>

<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title></title>

    <link rel="stylesheet" th:href="@{/css/style.css}" th:nonce="${nonce}" />

    <script
      type="text/javascript"
      th:nonce="${nonce}"
      th:src="@{/js/main.js}"
    ></script>

    <script
      type="text/javascript"
      th:nonce="${nonce}"
      th:src="@{/js/script.js}"
    ></script>
  </head>

  <body>
    <form
      method="post"
      enctype="multipart/form-data"
      th:action="@{/}"
      th:object="${formObject}"
    >
      <!-- // -->
      <table align="center">
        <!-- // -->
        <thead>
          <tr>
            <th>File Submit</th>
          </tr>
        </thead>
        <!-- // -->

        <!-- // -->
        <tbody>
          <!-- // -->
          <tr>
            <td>File Name</td>
            <td>
              <p>
                <input class="textEntry" type="text" th:field="*{fileName}" />
              </p>
              <p
                class="alert alert-warning validation"
                th:if="${#fields.hasErrors('fileName')}"
                th:errors="*{fileName}"
              ></p>
            </td>
          </tr>
          <!-- // -->
          <tr>
            <td>File</td>
            <td>
              <p>
                <input type="file" th:field="*{file}" />
              </p>
              <p
                class="alert alert-warning validation"
                th:if="${#fields.hasErrors('file')}"
                th:errors="*{file}"
              ></p>
            </td>
          </tr>
          <!-- // -->
          <tr>
            <td>API Key</td>
            <td>
              <p>
                <input class="textEntry" type="text" th:field="*{apiKey}" />
              </p>
              <p
                class="alert alert-warning validation"
                th:if="${#fields.hasErrors('apiKey')}"
                th:errors="*{apiKey}"
              ></p>
            </td>
          </tr>
          <!-- // -->
        </tbody>
        <!-- // -->

        <!-- // -->
        <tfoot>
          <tr>
            <td colspan="2" class="textCenter">
              <input type="submit" value="Send" class="submit" />
              <input type="button" value="Clear" id="buttonClear" />
            </td>
          </tr>
          <tr>
            <td class="formEnd">--- EOF ---</td>
          </tr>
        </tfoot>
        <!-- // -->
      </table>
      <!-- // -->
    </form>
  </body>
</html>
