table {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table,
td {
  font-size: 1.2em;
}

th,
td {
  padding: 1em;
}

th {
  font-size: 1.3em;
  background-color: #ffe4c4;
}

td.textCenter {
  text-align: center;
}

td.formEnd {
  text-align: center;
  background-color: #a3c1ad;
  font-size: 1.3em;
}

p.validation {
  white-space: pre-line;
}

input {
  font-size: large;
  height: auto;
}

input.textEntry {
  width: 50%;
}

input.submit {
  margin-right: 1em;
}
